<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="html-head">
    <script th:if="${page!=null and page.gaId != null}" th:inline="javascript">
      /*<![CDATA[*/
      var pageId = /*[[${page.gaId}]]*/ undefined;
      if (pageId) {
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
          var u = "//lifs.isas.de/piwik/";
          _paq.push(['setTrackerUrl', u + 'piwik.php']);
          _paq.push(['setDocumentTitle', document.location]);
          _paq.push(['setSiteId', '' + pageId]);
          var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
          g.type = 'text/javascript';
          g.async = true;
          g.defer = true;
          g.src = u + 'piwik.js';
          s.parentNode.insertBefore(g, s);
        }
        )();
      }
      ;
      /*]]>*/
    </script>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="mzTab online validator"/>
    <meta name="author" content="Nils Hoffmann"/>
    <meta th:if="${refresh}" http-equiv="refresh" th:content="${refresh}" content="10"/>
    <!--<link rel="icon" href="../../../../favicon.ico">-->

    <title th:text="${page!=null?page.title:'mzTab Online Validator'}">mzTab Online Validator</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"/>
    <!-- Bootstrap data tables css -->
    <link rel="stylesheet" th:href="@{/css/datatables.min.css}" href="/css/datatables.min.css" crossorigin="anonymous"/>
    <style type="text/css">
      .no-gutters {
        margin-right: 0;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
      }
      #validationResultTable_wrapper{
        padding-right: 0px;
        padding-left: 0px;
      }
    </style>
  </head>
  <body>

  </body>
</html>