<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head></head>
  <body>
    <div th:fragment="mztab-evidence">
    <div class="card my-2">
            <div class="card-header">
              <button class="btn btn-link" data-toggle="collapse" data-target="#evidenceSection" aria-expanded="true" aria-controls="evidenceSection">
                Small Molecule Evidence
              </button>
              <span th:if="${#lists.isEmpty(evidenceDataRows)}" class="badge badge-warning"><i class="fas fa-exclamation-triangle"></i></span>
            </div>
            <div class="card-body collapse" style="overflow:scroll" id="evidenceSection">
              <div th:if="${#lists.isEmpty(evidenceDataRows)}" class="alert alert-warning" role="alert">
                <strong>Small molecule evidence section missing!</strong> Your file does not contain small molecule evidence data or it could not be parsed.
              </div>
              <table id="evidenceDataRowsTable" class="table table-striped table-hover pt-1 px-0" width="100%" th:unless="${#lists.isEmpty(evidenceDataColumnKeys)}">
                <thead class="thead-light">
                  <tr>
                    <th th:each="dataRowKey : ${evidenceDataColumnKeys}" scope="col" th:text="${dataRowKey}"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="dataRow : ${evidenceDataRows}">
                    <td th:each="dataRowKey : ${evidenceDataColumnKeys}" th:text="${dataRow.get(dataRowKey)}"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
    </div>
  </body>
</html>