<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head></head>
  <body>
    <div th:fragment="mztab-proteins">
    <div class="card my-2">
            <div class="card-header">
              <button class="btn btn-link" data-toggle="collapse" data-target="#proteinsSection" aria-expanded="true" aria-controls="proteinsSection">
                Proteins
              </button>
              <span th:if="${#lists.isEmpty(proteinsDataRows)}" class="badge badge-warning"><i class="fas fa-exclamation-triangle"></i></span>
            </div>
            <div class="card-body collapse" style="overflow:scroll" id="proteinsSection">
              <div th:if="${#lists.isEmpty(proteinsDataRows)}" class="alert alert-warning" role="alert">
                <strong>Proteins section missing!</strong> Your file does not contain protein data or it could not be parsed.
              </div>
              <table id="proteinsDataRowsTable" class="table table-striped table-hover pt-1 px-0" width="100%" th:unless="${#lists.isEmpty(proteinsDataColumnKeys)}">
                <thead class="thead-light">
                  <tr>
                    <th th:each="dataRowKey : ${proteinsDataColumnKeys}" scope="col" th:text="${dataRowKey}"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="dataRow : ${proteinsDataRows}">
                    <td th:each="dataRowKey : ${proteinsDataColumnKeys}" th:text="${dataRow.get(dataRowKey)}"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
    </div>
  </body>
</html>