<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head></head>
  <body>
    <div th:fragment="mztab-metadata">
    <div class="card my-2">
            <div class="card-header">
              <button class="btn btn-link" data-toggle="collapse" data-target="#metadataSection" aria-expanded="true" aria-controls="metadataSection">
                Metadata Section
              </button><span th:if="${#lists.isEmpty(metaDataRows)}" class="badge badge-warning"><i class="fas fa-exclamation-triangle"></i></span>
            </div>
            <div class="card-body collapse" style="overflow:scroll" id="metadataSection">
              <div th:if="${#lists.isEmpty(metaDataRows)}" class="alert alert-warning" role="alert">
                <strong>Metadata missing!</strong> Your file does not contain a metadata section.
              </div>
               <table id="metaDataRowsTable" class="table table-striped table-hover pt-1 px-0" width="100%" th:unless="${#lists.isEmpty(metaDataColumnKeys)}">
                <thead class="thead-light">
                  <tr>
                    <th th:each="dataRowKey : ${metaDataColumnKeys}" scope="col" th:text="${dataRowKey}"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="dataRow : ${metaDataRows}">
                    <td th:each="dataRowKey : ${metaDataColumnKeys}" th:text="${dataRow.get(dataRowKey)}"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
    </div>
  </body>
</html>