.card-img-right {
    min-width: min-content;
    width: -moz-available;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}
#validationResultTable_wrapper {
    padding-right: 0px;
    padding-left: 0px;
}
.form-group {
    padding-right: 1rem;
}
.form-row {
    margin-bottom: 5px;
}
/*
#metaDataRowsTable > tbody:nth-child(2) {
    background-color: #ebf0f5;
}

#summaryDataRowsTable > tbody:nth-child(2) {
    background-color: #ebf6ea;
}
#featureDataRowsTable > tbody:nth-child(2) {
    background-color: #fff5e1;
}
#evidenceDataRowsTable > tbody:nth-child(2) {
    background-color: #ffe9e1;
}
*/