.card-img-right {
    min-width: min-content;
    width: -moz-available;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}
#validationResultTable_wrapper {
    padding-right: 0px;
    padding-left: 0px;
}
.form-group {
    padding-right: 1rem;
}
.form-row {
    margin-bottom: 5px;
}

