<!DOCTYPE HTML>
<html html-lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
  <head>
  <th:block th:include="fragments/html-head :: html-head"></th:block>
</head>
<body>
  <div class="container">

    <div class="row">

      <div class="container">
        <th:block th:include="fragments/nav :: nav"></th:block>
        <main role="main" class="my-3">
          <div class="card my-2">
            <div class="card-header">
              Validation Results
            </div>
            <div class="card-body"><h4 class="card-title">Validated <span th:text="${validationFile}"/> against <span th:text="#{${validationVersion}}"/>.</h4>
              <div th:unless="${not #lists.isEmpty(validationResults)}" class="alert alert-success" role="alert">
                <strong>Validation passed!</strong> Your file complies with the mzTab standard.
              </div>
              <div th:if="${not #lists.isEmpty(validationResults)}" class="alert alert-warning" role="alert">
                <strong>Validation failed!</strong> Your file does not comply with the mzTab standard.
              </div>
              <div class="my-3">
                Showing up to <span th:text="${validationMaxErrors}"/> validation errors on level <span th:text="${validationLevel}"/> and below.
              </div>
              <table id="validationResultTable" class="table table-striped table-hover pt-1 px-0" width="100%">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Line Number</th>
                    <th scope="col">Level</th>
                    <th scope="col">Message</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="validationResult : ${validationResults}" th:classappend="${validationResult.styleClass}">
                    <td th:text="${validationResult.lineNumber}"></td>
                    <td th:text="${validationResult.level}"></td>
                    <td th:text="${validationResult.message}"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-header">
              <a class="btn btn-primary float-left" href="/" th:href="@{/}">Back</a>
            </div>
          </div>
          <div class="card my-2">
            <div class="card-header">
              <button class="btn btn-link" data-toggle="collapse" data-target="#metadataSection" aria-expanded="true" aria-controls="metadataSection">
                Metadata Section
              </button>
            </div>
            <div class="card-body collapse" id="metadataSection">
              <div th:unless="${#lists.isEmpty(metaDataRows)}" class="alert alert-success" role="alert">
                <strong>Metadata present!</strong> Your file contains a metadata section.
              </div>
              <div th:if="${#lists.isEmpty(metaDataRows)}" class="alert alert-warning" role="alert">
                <strong>Metadata missing!</strong> Your file does not contain a metadata section.
              </div>
              <table id="metaDataRowsTable" class="table table-striped table-hover pt-1 px-0" width="100%">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Line Number</th>
                    <th scope="col">Prefix</th>
                    <th scope="col">Key</th>
                    <th scope="col">Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="metaDataRow : ${metaDataRows}">
                    <td th:text="${metaDataRow[0]}"></td>
                    <td th:text="${metaDataRow[1]}"></td>
                    <td th:text="${metaDataRow[2]}"></td>
                    <td th:text="${metaDataRow[3]}"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </main>

        <th:block th:include="fragments/footer :: footer"></th:block>

      </div>

    </div>

  </div>
<th:block th:include="fragments/script-footer :: script-footer"></th:block>
</body>
</html>
